body, html {
    background: #fdfdff;
    font-family: 'Raleway';
    font-size: 80%;
    margin: 0;
    height: 100%;
  }
  
main {
    position: relative;
    background: #fdfdff;
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }

#options {
    background-color: #fafafa;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

  @-webkit-keyframes animatebottom {
    from { bottom:-50px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  @keyframes animatebottom { 
    from{ bottom:-50px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#code-option {
    display: flex;
    flex-direction: column;
}

#passer {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

.number-field {
    border: 1px solid #2b2b2b;
    overflow: hidden;
    border-radius: 10px;
    height: 2.5em;
    font-size: 350%;
    width: 1.7em;
    margin: 0em 0.4em 0em 0em;
    text-align: center;
}

#qr-image {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#headline {
    display: flex;
    margin: 5em 0em 0em 0em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#logo {
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  
#auth-wrapper {
    background: #fdfdff;
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

h1 {
    font-size: 400%;
    text-align: center;
    margin: 2em 0em 3em 0em;
    font-weight: 100;

}

h2 {
    font-size: 300%;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 500px) and (max-height: 900px) {
    body {
        position: fixed;
    }

    #logo {
        width: 10%;
    }

    h1 {
        font-size: 250%;
        margin: 2em 0em 1em 0em;
        text-align: center;
    }

    main {
        position: fixed;
    }

    #auth-wrapper {
        position: fixed;
      }

    .number-field {
        height: 2em;
        font-size: 300%;
        width: 1.2em;
        margin: 0em 0.3em 0em 0em;
    }
}